a {
    text-decoration: none;
}

a:visited {
    color: black;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 6vw;
}

.nav-links {
    font-size: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    border: 2px solid black;
}

.half {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 6vw;
}

.one-half {
    padding-left: 2vw;
    padding-right: 2vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.calculator {
    border: 1px solid black;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3vw;
}

.house-payment {
    margin-top: 2vw;
    border: 1px solid black;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 3vw;
}

.HP {
    margin-left: 1vw;
}
